
*.o
*.sh
*.bat
make_banner.exe
make_cdn_cia.exe
make_cia.exe
*.cia
*.rkey
*.cert
*.icn
*.bnr
*.bsf
*.cwav
*.cbmd
*.ctpk
*.db
*.bin
*.dec

############
## Windows
############

# Windows image file caches
Thumbs.db

# Folder config file
Desktop.ini


